header ul {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  font-size: 0.8em;
}

header ul li {
  list-style-type: none;
  display: flex;
  vertical-align: bottom;
  font-family: 'Francois One';
  cursor: pointer;
}

img.logo {
  width: 64px;
}